ELASTICSEARCH_URL=vpc-bac-qa-qwest-test-6cxelcmadfmauigq37hxpfrhse.ap-southeast-1.es.amazonaws.com:443
KAFKA_SERVER=b-3.bacsdevqakafka.7sdgii.c5.kafka.ap-southeast-1.amazonaws.com:9092
SERVER_PORT=8085
REDIS_HOST_NAME=redis-11408.internal.c15687.ap-seast-1-mz.ec2.cloud.rlrcp.com
REDIS_PORT=11408
REDIS_PASSWORD=lG2KEVhIDwwLGGXFwM15SFRt9IGftwQB
REST_TEMPLATE_CONNECT_TIME_OUT=5000
REST_TEMPLATE_READ_TIME_OUT=5000
AUTH_USERNAME=aditya.bansal
AUTH_PASSWORD=password
JDBC_URL=jdbc:mysql://bac-s-supply.c0ut7uytrccv.ap-southeast-1.rds.amazonaws.com:3306/farmiso
JDBC_USERNAME=farmiso
JDBC_PASSWORD=5bTHXWAAcbCkZ11x
JDBC_DRIVER=com.mysql.cj.jdbc.Driver
JPA_DDL=update
JPA_SQL=true
IMI_API_KEY=93ceffda-5941-11ea-9da9-025282c394f2